.navbar {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 2px solid rgba(0, 0, 0.18);
  border-radius: 10px;
  z-index: 2;
}
.navbar1 {
  background-color: #73d9ef;
  border: 2px solid rgba(0, 0, 0.18);
  box-shadow: 0 8px 32px 0 #73d9ef;
  border-radius: 10px;
  z-index: 2;
}
.white {
  color: white;
  background-color: #212529;
}
.black {
  color: black;
  background-color: aliceblue;
}
